.bg-gradient {
  background: linear-gradient(135deg, #7b61ff, #8360c3);
}

.text-purple {
  color: #6c3df4;
}

.rounded-4 {
  border-radius: 1.5rem !important;
}
body {
  font-family: 'Segoe UI', sans-serif;
}

.card {
  border-radius: 1rem;
}

.card-title {
  font-weight: 600;
}
